!!!
html
  head
    title= 'Poblio'
    link(rel='icon', type='image/x-icon', href='/images/image.ico')
    link(rel='SHORTCUT ICON', href='/images/image.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
  body!= body
    script(type='text/javascript', src='javascripts/application.js')
    script(type='text/javascript', src='javascripts/working.js')
